.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("amis-prenant-selfie-apres-formation-dans-parc.jpg");
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("coup-faible-angle-equipe-sportive-marchant-exterieur-apres-entrainement-commun.jpg");
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("groupe-personnes-travaillant-ensemble-exterieur.jpg");
}
